# Server Configuration
PORT=3000

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=connect_bridge

# Redis Configuration (For Scale)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# Security / Authentication
ACCESS_TOKEN_SECRET=your_access_token_secret_here
REFRESH_TOKEN_SECRET=your_refresh_token_secret_here

# Client Configuration (CORS)
CLIENT_URL=http://localhost:3000
